html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
  }

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}
.lollipop-line {
    stroke: #999;
    stroke-width: 2px;
}

.lollipop-circle {
    stroke: #333;
    stroke-width: 1px;
}

.glowing {
    filter: url(#glow);

}

@keyframes pulseGlow {
    0% {
        filter: url(#glow);
        opacity: 1;
    }
    50% {
        filter: url(#glow);
        opacity: 0.6;
    }
    100% {
        filter: url(#glow);
        opacity: 1;
    }
}

.glowing {
    filter: url(#glow);
    stroke: gold;
    stroke-width: 2;
    animation: pulseGlow 1.5s infinite ease-in-out;
}

.tooltip {
  font-family: sans-serif;
  font-size: small;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 9999; /* Make sure the tooltip is above other elements */
}



/*.wisco-logo {
    position: absolute;
    top: 20%;
    left: 0.5%;
    max-height: 65px;
    opacity: 0.95;
    pointer-events: none;
  }
  */

  .dropdown-wrapper select {
    font-size: 16px;
    padding: 6px 10px;
  }

  .dropdown-wrapper {
    background-color: transparent;
    position: absolute;
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    width: auto;
    box-sizing: border-box;
    padding-top: 20px;
  }

  .dropdown-wrapper select {
    appearance: none;
    -webkit-appearance: none; /* for Safari */
    -moz-appearance: none;    /* for Firefox */
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
    backdrop-filter: blur(4px);
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }

  .map,
  .chart {
      flex: 1 1 500px;
      min-width: 300px;
      max-width: 100%;
  }

  .chartTitle {
      font-family: sans-serif;
      font-weight: bold;
      fill: white;
      color: white;
  }

  .chartFrame {
      fill: none;

      stroke-width: 3px;
      shape-rendering: crispEdges;
      pointer-events: none;
  }

  .chart-wrapper {
    flex: 0 0 auto;
    width: 100%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure the chart is positioned correctly */
    z-index: 10; /* Ensure it's above the map but does not block pins */
}

.map-wrapper {
    flex: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.03);
    overflow: hidden;
    z-index: 5; /* Ensure the map is behind the chart */
}


@media (min-width: 800px) {
  .content-wrapper {
      flex-direction: column; /* Stack vertically on wider screens */
  }
  .chart-wrapper {
      width: 100%; /* Full width of the container */
      height: 25vh; /* Fixed height for the chart */
  }
  .map-wrapper {
      flex: 1;  /* Take remaining space */
  }
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}







